# Ignore all archive folders
_old/

# Ignore the files in output folders, but keep folders
/OUTPUT/DATA/*
/OUTPUT/PLOTS/**/*

!/OUTPUT/**/.gitkeep
!/OUTPUT/PLOTS/across_sections/.gitkeep
!/OUTPUT/PLOTS/ad_hoc/.gitkeep
!/OUTPUT/PLOTS/by_section/.gitkeep
!/OUTPUT/PLOTS/within_region/.gitkeep

# Ignore R project user info and any potential history files
.Rproj.user
.Rhistory
.Rapp.history

# Ignore thumbs file
Thumbs.db
